<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <div class="Roles">
        <div class="sidebar">
            <div class="bar">
                <h2>Admin</h2>
            </div>
            <ul class="">
                <li class="<%= activeStatus === 'dashboard' ? 'active' : '' %>">
                    <a href="/Admin">
                        <img src="/dashboard.png" alt="" height="50" width="50"> <!-- Image for Dashboard with height and width -->
                        Dashboard
                    </a>
                </li>
                <li class="<%= activeStatus === 'user-roles' ? 'active' : '' %>">
                    <a href="/User-Roles">
                        <img src="/user-role.png" alt="" height="30" width="30"> <!-- Image for User Roles with height and width -->
                        Roles
                    </a>
                </li>
                <li class="<%= activeStatus === 'doctor' ? 'active' : '' %>">
                    <a href="/doctor-management">
                        <img src="/doctor.png" alt="" height="30" width="30"> <!-- Image for Doctor Management with height and width -->
                        Doctor management
                    </a>
                </li>
                <li class="<%= activeStatus === 'patient' ? 'active' : '' %>">
                    <a href="/patient-management">
                        <img src="/patient.png" alt="" height="30" width="30"> <!-- Image for Patient Management with height and width -->
                        Patient management
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="bar">
                <h3>Admin Pannel</h3>
                <a href="/logout">Logout</a>
            </div>

            <div class="main-content-Roles">
                <div class="d-flex justify-content-between">
                    <p id="p-tag">Roles</p>
                    <a href="#" id="submitButton">Add Role</a>
                </div>

                <div class="roles-list">
                    <table>
                        <tr>
                            <th>Role id</th>
                            <th>Role Name</th>
                            <th>Edit options</th>
                        </tr>
                            <tr>
                                
                                <% Roles.forEach(Role => { %>
                                    <tr>
                                        <td><%= Role.roleId %></td>
                                        <td><%= Role.name %></td>
                                
                                <td class="d-flex justify-content-between">
                                    <a href="/Add-Role?id=<%= Role.id %>"><img src="/edit-button.png" height="25" width="25"></a>
                                    <a href="/Add-Role?id=<%= Role.id %>"><img src="/delete.png" height="32" width="32"></a>
                                </td>
                                <% }) %>
                            </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
</body>

</html>